.staff {
    .search {
        padding: 10px;
        display: flex;
        justify-content: center;
        input{
          flex: 1 0 320px;
        }
        .input{
          flex: 1 0 120px;
        }
        input,.input {
            padding: 10px;
            margin: 20px;
            margin-bottom: 30px;
            text-align: center;
            font-size: 15px;
            border: none;
            width: 300px;
            outline: none;
            border-radius: 4px;
            box-shadow: 0 0 5px rgba(72, 72, 72, 0.12), 0px 2px 2px rgba(72, 72, 72, 0.5);
          }
      }
      .staff-row{
        gap:1rem;
        display: flex;
        flex-wrap: wrap;
        align-items:flex-start;
        .success{
          margin: auto;
        }
      }
}