

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  height: 100vh;
  .imageSlide{
    
    position: relative;
    overflow: hidden;
    background-color: #aaa;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #aaa, 1px 1px 15px 0px #aaa;
  }

  .rsis-container div {
    background-size:cover;
    object-fit:contain;
    background-position: center;
    
    backdrop-filter: blur;
  
  }
  button,a{
    cursor: pointer;
  }
  .head{
    margin: 25px;
    margin-bottom: 20px;
  }
  .head h1 .dept{
    font-style:italic;
    text-decoration:underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#000;
  }
  .head h1 .of{
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    color:#000;
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .head h1 .cse{
  
    font-style: oblique;
    color:#000;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
  }
  .keys{
    padding: 1px;
    width:88%;
    margin:10px;
    display: flex;
    justify-content: space-between;
  }
  .keys button{
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    border: none;
    background-color: whitesmoke;
    color:#222;
    box-shadow: 1px 1px 15px 1px #aaa, 1px 1px 15px 0px #aaa;
    min-width: 120px;
    font-weight: bold;
  }
  .keys button:hover{
    background-color: black;
    color: #fff;
  }
}
.home .search {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.home .search input {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  border: none;
  width: 300px;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(72, 72, 72, 0.12), 0px 2px 2px rgba(72, 72, 72, 0.5);
}
.home .dpts{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:1rem;
  padding: 10px;
}
.home .dpts .dept{
  flex: 1  1 350px;
}

